<div class="topnav">
  <a class="active" href="#Gator Calendar">Gator Calendar</a>
  <a href="#home">HOME</a>
  <a href="#contact">ABOUT</a>
  <a href="#CONTACT">CONTACT</a>
</div>

<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h1>Your Calendars</h1>
<div></div>

<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>


<p>Choose the calendar</p>

<div class="row">
  <div class="column">
    <img src="img_calendar.jpg" alt="Personal Calendar" style="width:100%">
  </div>
  <div class="column">
    <img src="img_calendar.jpg" alt="Academic Calendar" style="width:100%">
  </div>
  <div class="column">
    <img src="img_calendar.jpg" alt="My Social Calendar" style="width:100%">
  </div>
</div>

</body>
</html>

<div> </div>
<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>


<div class="row">
  <div class="column">
    <img src="img_calendar.jpg" alt="My Social Calendar" style="width:100%">
  </div>
  <div class="column">
    <img src="img_calendar.jpg" alt="OS Course Calendar" style="width:100%">
  </div>
  <div class="column">
    <img src="img_calendar.jpg" alt="Create New Calendar" style="width:100%">
  </div>
</div>

</body>
</html>


</body>
</html>